Django>=4.2,<5.1
psycopg2-binary>=2.9
pdfplumber>=0.10.0
python-docx>=0.8.11
spacy>=3.5.0
scikit-learn>=1.2.0
pandas>=2.0.0
numpy>=1.24.0

gunicorn>=21.2.0
whitenoise>=6.5.0
dj-database-url>=2.1.0

# Cloudinary Storage
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0

click
djangorestframework
groq
python-dotenv
pypdf

# Direct link to download spaCy English model in cloud servers (e.g., Render/Heroku)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl